<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>

  <vendor>libguix-rs</vendor>
  <vendor_url>https://github.com/</vendor_url>

  <action id="org.libguix.system-reconfigure">
    <description>Reconfigure the Guix system</description>
    <message>Authentication is required to reconfigure the Guix system.</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/run/current-system/profile/bin/guix</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">system</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv2">reconfigure</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>

</policyconfig>
